.paginaSimples {
  display: flex;
  flex-direction: column;
  gap: var(--espaco-2);
}

.titulo {
  margin: 0;
  font-size: var(--fonte-xl);
}

.descricao {
  margin: 0;
  color: var(--cor-texto-suave);
}
